---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$heading-font-size: $base-font-size * 3;
$heading-height: 250px;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #BEB5A4;
$brand-color:      #2a7ae2;
$background-text-color: #fff;
$background-text-hover-color: #000;

$grey-color:       #353232;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;


h2.post-title {
  margin-top: 5px;
  text-transform: lowercase;
}

h1.post-title, .post-meta {
  text-align: center;
}


ul.tags, ul.categories {
  list-style-type: none;
}

.tag, .tag:visited {
  color: $text-color;
}

.category {
  color: #fff;
  background-color: #1abc9c;
  font-style: italic;
  font-size: 72.5%;
  font-weight: 600;
  padding: $small-font-size - 10px;
  border-radius: 3px;
  vertical-align: middle;
  text-transform: capitalize;
}

.category:hover, .category:visited {
  color: #fff;
  text-decoration: none;
}

.site-header {
  min-height: $heading-height;
}

.page-content .wrapper {
  background-color: $background-color;
}

.site-title {
  text-align: center;
  margin-top: $heading-height * 0.4;
}

.site-title a, .site-title a:visited {
  color: $background-text-color;
  font-weight: bold;
  font-size: $heading-font-size;
  letter-spacing: 5px;
}

.site-footer a, .site-footer a:visited, .site-footer i, .site-nav a, .site-nav a:visited, .site-nav i {
  color: $background-text-color;
}

.site-title a:hover {
  text-decoration: none;
  color: $background-text-hover-color;
}

.site-subtitle {
  color: $background-text-color;
  letter-spacing: 3px;
  font-size: $heading-font-size * 0.5;
  font-weight: bold;
}

.post-list a {
  color: $text-color;
}

.page-link, .page-link:visited {
  color: $background-text-color;
}

.post-excerpt {
  color: lighten($text-color, 30%);
  font-size: 90%;
  font-style: italic;
}
