---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$heading-font-size: $base-font-size * 3;
$heading-height: 250px;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #F5F5F5;
$second-text-color: #0AD29E;
$second-text-hover-color: #000;

$grey-color:       #353232;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

h1.post-title, .post-meta {
  text-align: center;
}


ul.tags, ul.categories {
  list-style-type: none;
}

.category, .category:visited {
  background-color: $second-text-color;
  color: white;
  font-style: italic;
  font-size: 72.5%;
  font-weight: 600;
  padding: $small-font-size - 10px;
  border-radius: 3px;
  vertical-align: middle;
  text-transform: capitalize;
}

a.category:hover {
  background-color: black;
}

.site-header {
  min-height: $heading-height;
}

.page-content .wrapper {
  background-color: $background-color;
}

a, a:visited {
  color: $second-text-color;
}

a:hover {
  text-decoration: none;
  color: $second-text-hover-color;
}

.site-title {
  text-align: center;
  margin-top: $heading-height * 0.4;
  text-transform: uppercase;
}

.site-title a {
  font-weight: bold;
  font-size: $heading-font-size;
  letter-spacing: 5px;
}

.site-subtitle {
  color: $second-text-color;
  letter-spacing: 3px;
  font-size: $heading-font-size * 0.5;
  font-weight: bold;
}

.site-quote {
  font-size: $heading-font-size * 0.32;
  line-height: 1.1;
  color: $grey-color-light;
  text-transform: none;
  text-align: right;
}

.post-excerpt {
  color: lighten($text-color, 30%);
  font-size: 90%;
}

.side-section {
  font-weight: bold;
}

.nowrap {
  white-space: nowrap ;
}
