---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$heading-font-size: $base-font-size * 3;
$heading-height: 250px;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #F5F5F5;
$second-text-color: #0AD29E;
$second-text-hover-color: #000;

$grey-color:       #353232;
$grey-color-medium: lighten($grey-color, 20%);
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.post-title {
  color: $grey-color-medium;
}

.post-meta, .post-meta .tag, .post-meta .tag:visited {
  color: $grey-color-light;
}

.post-meta .tag:hover {
  color: $second-text-hover-color;
}

.post-meta .category, .post-meta .category:visited {
  background-color: $grey-color-light;
}


ul.tags, ul.categories {
  list-style-type: none;
  margin-left: 0px;
}

.category, .category:visited {
  background-color: $second-text-color;
  color: white;
  font-style: italic;
  font-size: 72.5%;
  font-weight: 600;
  padding: $small-font-size - 10px;
  border-radius: 3px;
  vertical-align: 15%;
  text-transform: capitalize;
}

.category:hover, .post-meta .category:hover {
  background-color: black;
}

.site-header {
  min-height: $heading-height;
  margin-bottom: $spacing-unit;
}

.page-content {
  background-color: $background-color;
  margin-right: auto;
  margin-left: auto;
  padding: 20px $spacing-unit;
}

a, a:visited {
  color: $second-text-color;
}

a:hover {
  text-decoration: none;
  color: $second-text-hover-color;
}

.site-title {
  text-align: center;
  margin-top: $heading-height * 0.4;
  text-transform: uppercase;
}

.site-title a {
  font-weight: bold;
  font-size: $heading-font-size;
  letter-spacing: 5px;
}

.site-subtitle {
  color: $second-text-color;
  letter-spacing: 3px;
  font-size: $heading-font-size * 0.5;
  font-weight: bold;
}

.site-quote {
  font-size: $heading-font-size * 0.32;
  line-height: 1.1;
  color: $grey-color-light;
  text-transform: none;
  text-align: right;
}

.site-title-small {
  text-align: right;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 10px;
}

.site-title-small a {
  font-weight: bold;
  font-size: $heading-font-size / 2;
  letter-spacing: 2px;
}

.post-excerpt {
  color: lighten($text-color, 30%);
}

.right-pane {
  margin-top: 15px;
  font-size: 90%;
}

.side-section {
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 15px;
}

.about {
  line-height: 1;
}

.contacts li {
  display: inline;
  list-style-type: none;
  padding-right: 10px;
  font-size: 120%;
}

.contacts {
  margin-left: 0px;
}

.rss {
  text-align: right;
}

.post-links {
  float:right;
  margin-left:20px;
  margin-right: 10px;
  border-left: 1px solid $grey-color-medium;
  border-bottom: 1px solid $grey-color-medium;
  padding-left: 20px;
  padding-bottom: 10px;
}

.nowrap {
  white-space: nowrap ;
}
