---
layout: default
---

<div class="home">

  <div class='row'>
  <div class='col-sm-8'>
    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          {% include postListItem.html %}
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class='col-sm-3 col-sm-offset-1'>
    <div>
      <h4>Tags</h4>
      {% include tagCloud.html %}
    </div>
    <div>
      <h4>Categories</h4>
      {% include categoryCloud.html %}
    </div>
  </div>
</div>


  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
