---
layout: default
---

<div class="home">

  <div class='row'>
    <div class='col-xs-8'>
      <ul class="post-list">
        {% for post in site.posts %}
        <li>
          {% include postListItem.html %}
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class='col-lg-2 col-xs-3 col-xs-offset-1 right-pane'>
      <h4 class='side-section'>about</h4>
      {% include about.html %}
      <h4 class='side-section'>contact</h4>
      {% include contact.html %}
      <h4 class='side-section'>tags</h4>
      {% include tagCloud.html %}
      <h4 class='side-section'>categories</h4>
      {% include categoryCloud.html %}

    </div>
  </div>

</div>
