/**
 * Site header
 */

.site-nav {
    float: right;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 20px;
    text-transform: lowercase;
    font-weight: bold;
    line-height: 65%;
    margin-bottom: 20px;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    @extend .post-link;
    font-size: 40px;
    line-height: 1;
    margin-bottom: 0px;
}

.post-content, .post-excerpt {
    text-align: justify;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 20px;
        margin-bottom: 5px;
        padding-bottom: 2px;
        text-transform: lowercase;
        font-weight: bold;
        color: $grey-color-medium;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
