---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">
      {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} •
      {{ page.author }}{% endif %}{% if page.category %} •
      in {% assign categoryName = page.category %}{% include category.html %}{% endif %}
      {% if page.tags %} • {% include tags.html %}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>


  {% include disqus.html %}

</div>
